<%= form_for :user do |f| %>

  <div class="field">
    Your avatar is hosted at <a href="http://gravatar.com">gravatar.com</a> just use the email addres you signed up with!
  </div>

  <div class="field">
    <label for="bio">Biography</label><br/>
    <%= f.text_area :bio %>
  </div>

  <div class="actions">
    <%= f.submit "Update profile" %>
  </div>

<% end %>
