<div class="left">
<div id="profile" class="clearfix">
  <%= gravatar(@user.email, 175) %>
  <div class="username">
    <%= @user.username %>
  </div>
</div>


<h2> Pictures </h2>
<div class="pictures">
<% @user.pictures.each do |p| %>
  <div class="picture">
    <div class="name">
      <%= p.name %>
    </div>
    <div class="thumb">
      <%= link_to image_tag(p.pic.thumb.url), p %>
    </div>
  </div>
<% end %>
</div>
</div>
<div class="right">
  
  <div class="light-box clearfix">
    <div class="icon">
      <img src="/images/photo_icon.png"/>
    </div>
    <div class="stuff">
    <div class="count">
      23
    </div>
    <div class="what">
      <a href="#">pictures</a>
    </div>
  </div>
  </div>
  
  <div class="light-box clearfix">
    <div class="icon">
      <img src="/images/feedbacks.png"/>
    </div>
    <div class="stuff">
    <div class="count">
      291
    </div>
      <div class="what">
        <a href="#">feedbacks</a>
      </div>
    </div>
    </div>
  </div>
  
  <h3 style="font-weight: normal"> Bio </h3>
  <p>
    This is a bio thin where the user puts crap in their fking bio and stuffs.
  </p>
  
  <span class="help">
    Joined July 2nd 1983
  </span>
  
</div>
