body {
  font-family: "droid-sans-1", "droid-sans-2", Tahoma, Arial, sans-serif;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  
  background: #EDEEED;
}

a {
  color: #0084D4;
  color: #225AB6;
  text-decoration: none;
}

a:hover {
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}


h1, h2 {
  //color: #0084D4;
  padding-bottom: 8px;
  //border-bottom: 1px solid #B9E2F5;
  font-weight: normal;
}

#header {
  height:50px;
  margin: 2em 0;
}

#header a {

}

.container {
  width: 800px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#logo {
  float: left;
  margin-right: 15px;
}

#logo a {
  color: #333333;
  text-decoration: none;
}

#logo h1 {
  margin: 0;
  border: none;
}

#nav {
  float: right;
}

#nav a {
  color: #333333;
  padding: 5px 10px;
  display: inline-block;
}

#nav a:hover {
}

#nav a.current {
}

#nav a.user-profile-link {
  background: #0084D4;
  color: white;
  text-decoration: none;
}

#new-picture {
  float: left;
}

#session {
}

#session:hover {
}

#session #username {
  height: 50px;
  line-height: 50px;
}

#session .avatar {
  float: left;
  width: 30px;
  height: 30px;
  padding: 10px 10px 10px 0;
}

#session-menu {
}


#session-menu a {
  display: block;
  padding: 5px 1em;
  text-decoration: none;
}

#session-menu a:hover {
}

.boxed {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 1em rgba(0, 0, 0, .5);
  padding: 20px;
}

.light-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #F6F6F6;
  margin-bottom: 10px;
}

.icon {
  float: left;
  padding-left: 10px;
}

.icon img {
  height: 45px;
  opacity: .1;
}

.stuff {
  float: right;
  text-align: right;
  
  height: 45px;
  padding-top: 5px;
  padding-right: 10px;
}

.count {
}

.what {
}

#profile {
  margin-bottom: 2em;
}

#profile .avatar {
  margin-right: 15px;
}

#profile .username {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 1em;
}

.left {
  float: left;
  width: 517px;
  margin-right: 15px;
}

.right {
  float: left;
  width: 228px;
}

#main-content {
  background: white;
}

#main {
  float: left;
  width: 730px;
  margin: 0;
}

#side {
  float: left;
  width: 230px;
  margin-left: 40px;
}

.tags {
 margin-bottom: 1em;
}

.tag {
}

.tag:hover {
}

#pictures .picture {
  float: left;
  width: 300px;
  margin-bottom: 2em;
}

#pictures .first {
  margin-right: 50px;
}

#pictures .second {
  margin-right: 50px;
}

#pictures .third {
  margin-right: 0px;
}

#pictures .picture img {
  width: 300px;
  height: 200px;
}

#pictures .picture .name {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  border: none;
}

#pictures .picture .username {
  float: right;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

a.edit {
  float: right;
}

.pictures {
  color: #878787;
}

.pictures .picture {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eceeec; 
}

.pictures .picture .thumb {
  float: left;
  margin-right: 20px;
}

.pictures .picture .thumb img {
  width: 140px;
  height: 105px;
}

.pictures .picture .name {
  margin-bottom: 10px;
}

.pictures .picture .name a {
  font-size: 18px;
}

.pictures .picture .description {
}

.user-controls {
  margin-top: 2em;
}

.user-controls a {
  display: block;
  padding: 5px 0px;
}

.field {
  margin-bottom: 1em;
}

.field label {
  font-weight: bold;
}

input[type=text], input[type=password], textarea {
  border: 1px solid #ccc;
}

.help {
  display: block;
  color: #878787;
}

.picture-content {
  float: left;
  width: 700px;
}

.user {

}

.user .avatar, .feedback-user-avatar .avatar {
  float: left;
  margin: 0 5px 5px 0;
}

.username {
  font-weight: bold;
}

.tags {
  clear: both;
}

.link-flag {
  margin-bottom: 1em;
}

.gutter {
  float: left;
  width: 50px;
}

.votes {
}

.feedback {
  margin-bottom: 2em;
  border-bottom: 1px solid #B9E2F5;
  border-bottom: 1px solid #eceeec;
}

.feedback-footer {
  clear: both;
  font-size: 12px;
}

.feedback-content {
  float: left;
  width: 645px;
  margin-bottom: 1em;
}

.feedback-posted-at {
  float: ;
}

.feedback-text {
  float: left;
  margin-bottom: 1em;
}

.feedback-user-info {
  float: right;
}

.feedback-user-avatar {
  float: left;
}

.feedback-user-username {
  float: left;
}

.feedback-user-username a {
  text-decoration: none;
}

.feedback-link-flag {
}

.votes {
  width: 32px;
  margin-bottom: 1em;
}

.votes .count {
  display: block;
  height: 32px;
  line-height: 32px;
  text-align:center;
}

.votes a {
  display: block;
  height: 32px;
  width: 32px;
  text-indent: -9999px;
}

.vote-up-feedback {
  background: url(/images/vote-up.png);
}

.vote-down-feedback {
  background: url(/images/vote-down.png);
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

