body {
  font: normal normal normal 13px/1.5 'Helvetica Neue', Arial, Helvetica;
  margin: 0;
  padding: 0;
}

a {
}

a:hover {
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

#header {
  height:50px;
  line-height: 50px;
  font-size: 16px;
  margin-bottom: 2em;
}

#header a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

#logo {
  float: left;
  margin-right: 15px;
}

#logo h1 {
  margin: 0;
}

#nav {
  float: left;
}

#nav a {
  text-decoration: none;
  padding: 0 10px;
  height: 50px;
  display: inline-block;
}

#nav a:hover {
}

#nav a.current {
}

#new-picture {
  float: left;
}

#session {
}

#session:hover {
}

#session #username {
  height: 50px;
  line-height: 50px;
}

#session .avatar {
  float: left;
  width: 30px;
  height: 30px;
  padding: 10px 10px 10px 0;
}

#session-menu {
}


#session-menu a {
  display: block;
  padding: 5px 1em;
  text-decoration: none;
}

#session-menu a:hover {
}

#main {
  float: left;
  width: 730px;
  margin: 0;
}

#side {
  float: left;
  width: 230px;
  margin-left: 40px;
}

.tags {
 margin-bottom: 1em;
}

.tag {
}

.tag:hover {
}

#pictures .picture {
  float: left;
  width: 350px;
  margin-bottom: 2em;
}

#pictures .odd {
  margin-right: 30px;
}

#pictures .even {
  margin-right: 0;
}

#pictures .picture .name {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

#pictures .picture .username {
  float: right;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

a.edit {
  float: right;
}

.pictures {

}

.pictures .picture {
  float: left;
  margin-right: 1em;
}

.field {
  margin-bottom: 1em;
}

.field label {
  font-weight: bold;
}

.field .help {
  display: block;
  color: #666;
}


