<h1>Listing tags</h1>


<% @tags.each do |tag| %>
  <%= render tag %>
  <% if admin? %>
    <%= link_to 'Edit', edit_tag_path(tag) %>
    <%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <br/>
<% end %>
</table>

<br />

<%= link_to  'New Tag', new_tag_path if admin? %>
