<div class="votes"> 
  <div class="up">
    <%= link_to "Good feedback", feedback_upvote_path(feedback), :remote => true, :class => "vote-up-feedback" %>
  </div>
  <div class="count">
    <%= feedback.votes %>
  </div>
  <div class="down">
    <%= link_to "Bad feedback", feedback_downvote_path(feedback), :remote => true, :class => "vote-down-feedback" %>
  </div>
</div>

