<% if params[:user_id].nil? %>
  <h1>Latest pictures</h1>
<% else %>
  <% if @pictures.first %>
    <h1><%= @pictures.first.user.username %>'s pictures</h1>
  <% else %>
    <h1> No more pictures found. </h1>
  <% end %>
<% end %>

<div class="pictures">
  <%= render @pictures %>
</div>

<br style="clear: both"/>
<% if @pictures.size == 6 %>
<div class="next">
  <a href="?page=<%= params[:page] ? params[:page].to_i + 1 : 1%>"> more </a>
</div>
<% end %>
