<h1><%= @picture.name %></h1>
<p class="full">
  <%= image_tag @picture.pic.url(:full) %>
</p>
<% @picture.tags.each do |t| %>
  <%= link_to t.name, "/pictures/tags/#{t.name}", :class => "tag" %>
<% end %>

<% if current_user && current_user.can_edit?(@picture) %>
<div class="user-controls">
  <%= link_to 'Edit', edit_picture_path(@picture) %>
</div>
<% end %>
