<h1>
  <%= @picture.name %>
  <% if current_user && current_user.can_edit?(@picture) %>
    <%= link_to 'Edit Picture', edit_picture_path(@picture), :class => 'edit' %>
  <% end %>
</h1>
<p class="full">
  <%= image_tag @picture.pic.url(:full) %>
</p>
<div class="tags">
<% @picture.tags.each do |t| %>
  <%= link_to t.name, "/pictures/tags/#{t.name}", :class => "tag" %>
<% end %>
</div>


